._.gitignore
._README.md
._BOOTx64.efi
._BOOT
._AudioDxe.efi
._OpenRuntime.efi
._Contents
._Info.plist
._MacOS
._Resources
._Lilu.kext
._Lilu
._AppleALC.kext
._AppleALC
._CpuTscSync.kext
._CpuTscSync
._RestrictEvents.kext
._RestrictEvents
._SMCProcessor.kext
._SMCProcessor
._SMCSuperIO.kext
._SMCSuperIO
._VirtualSMC.kext
._VirtualSMC
._WhateverGreen.kext
._WhateverGreen
._SMCBatteryManager.kext
._SMCBatteryManager
._config.plist
._OpenCore.efi
._SSDT-BATC.dsl
.DS_Store
.contentVisibility
._Imagens
._*.png